*
{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.cart-container
{
    padding: 40px 50px;
    width: 100%;
    background: #f1f1f1;
    border-bottom: 1px solid #9a9a9a;
}
.cart-container .emptycart
{
    margin-top: 30px;
    margin-left: 35%;
}
.cart-container .emptycart h2
{
    font-size: 32px;
    color: #010f1c;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 30px;
}
.cart-container .emptycart .emptybtn
{
    margin-left: 115px;
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    background-color: #010f1c;
    transition: 0.5s;
}
.cart-container .emptycart .emptybtn:hover
{
    background-color: #0d4508;
}
.cart-container .contant
{
    max-width: 100%;
    padding: 20px 30px;
}
.cart-container .contant .cart_item
{
    padding: 20px 30px;
    display: flex;
    background: #fff;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cart-container .contant .cart_item .img_box
{
    padding: 10px 20px;
    background: #f1f1f1;
}
.cart-container .contant .cart_item .img_box img
{
    width: 250px;
    height: 250px;
}
.cart-container .contant .cart_item .detail
{
    margin-left: 60px;
    display: flex;
    margin-top: 30px;
    padding: 20px 30px;
}
.cart-container .contant .cart_item .detail .info h4
{
    text-transform: uppercase;
    font-size: 16px;
    color: #9a9a9a;
    font-weight: 100;
    letter-spacing: 1.5px;
}
.cart-container .contant .cart_item .detail .info h3
{
    margin-top: 20px;
    color: #010f1c;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 1px;
}
.cart-container .contant .cart_item .detail .info p
{
    margin-top: 10px;
    color: #010f1c;
    letter-spacing: 1px;
}
.cart-container .contant .cart_item .detail .qty
{
    margin-top: 10px;
    display:flex;
}
.cart-container .contant .cart_item .detail .qty .incqty
{
    padding:10px 10px;
    background: none;
    outline: none;
    border:none;
    color: #0775db;
    font-size: 32px;
    cursor: pointer;
}
.cart-container .contant .cart_item .detail .qty .decqty
{
    padding:10px 10px;
    background: none;
    outline: none;
    border:none;
    color: #0775db;
    font-size: 32px;
    cursor: pointer;
}
.cart-container .contant .cart_item .detail .qty input
{
    border: none;
    outline: none;
    background: none;
    font-size: 22px;
    color: #010f1c;
    width: 50px;
    margin-left: 20px;
}
.cart-container .contant .cart_item .detail .info .subtotal
{
    color: #010f1c;
    font-size: 22px;
    margin-top: 10px;
}
.cart-container .contant .cart_item .close
{
    margin-left: 370px;
}
.cart-container .contant .cart_item .close button
{
    border: none;
    outline: none;
    border: none;
    font-size: 22px;
    color: #db0045;
    background:none;
    cursor: pointer;
}
.cart-container .totalprice
{
    margin-top: 30px;
    margin-left: 45%;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.cart-container .checkout
{
    margin-top: 40px;
    margin-left: 48%;
    padding: 10px 20px;
    color: #fff;
    border: none;
    outline: none;
    background: #04529b;
    cursor: pointer;
}