.register
{
    background-color: black;
    padding-bottom: 50px;
    padding-top: 50px;
}
.container-register
{
 margin: 0;
 box-sizing: border-box;
 width: 400px;
 background-color: #769CFF;
 padding: 30px;
 margin: auto;
 color: white;
 border: 8px solid #03203B;
}
.container-register .info
{
    margin-bottom: 20px;
    color: black;
}
.container-register .info h1
{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}
.container-register .info h3
{
    text-align:center; 
    text-transform: uppercase;
    margin-top: 10px;
}
.container-register .info img
{
    width: 60px;
    height: 70px;
    margin-left: 40%;
}
.container-register .controls
{
    width: 100%;
    background-color: white;
    padding: 10px 5px ;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
}
.container-register p
{
    color:black;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}
.container-register .link
{
    color:white;
    margin-left: 120px;
    text-decoration: none;
}
.container-register .link:hover
{
    color: #03203B;
}

.container-register .save
{
   margin-left: 34%;
   margin-bottom: 20px;
   background-color: #282727;
   color: white;
   padding: 12px 9px; 
   text-transform: uppercase;
   font-size: 15px;
   border: 4px solid #242222;
}
.container-register .init
{
    margin-left: 28%;
    margin-bottom: 20px;
    background-color: #282727;
    color: white;
    padding: 12px 9px; 
    text-transform: uppercase;
    font-size: 15px;
    border: 4px solid #242222;
    cursor: pointer;
}